<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- CSS Section -->
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
    
    <!-- Content Section -->
    <div class="container">
        <h1>Welcome to the <strong><%= title %></strong> page</h1>
    </div>
    
    <!-- JavaScript Section -->
    <script src='/Scripts//app.js'>
  </body>
</html>
