<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- CSS Section -->
    <link rel='stylesheet' href='/Content/app.css'/>
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./@fortawesome/fontawesome-free/css/all.min.css">
  </head>
  <body>
    
    <!-- Content Section -->
    <div class="container">
        <h1>Welcome to the <strong><%= title %></strong> page</h1>
    </div>

    <!-- JavaScript Section -->
    <script src='/Scripts/app.js'>
    <script src="./jquery/dist/jquery.min.js"></script>
    <script src="./@fortawesome/fontawesome-free/js/all.min.js"></script>
  </body>
</html>
